  <div class="wrapper">
  <nav>
    <ul>
      <li><%=link_to_clip @target_object, @target_attributes %></li>
    </ul>
  </nav>
  <nav>
    <%= link_to_tags @target_object, @target_attributes, @tags %>
  </nav>
  <section class="new_post">
    <h1><%=params['data-target-name']%></h1>
    <%=image_tag params['data-target-image'] if params['data-target-image'].present? %>
  <%=render 'form_with_action', :placeholder => ''%>
  </section>
  </div>