<section class="item clearfix">
  <h1 class="name"><%= link_to_artist_item artist_item.title, artist_item %></h1>
  <div class="image">
  <%= link_to_artist_item image_tag(artist_item.medium_image_url, :class => 'rounded-img1'), artist_item %>
  </div>
<aside>
  <section  class="tracks">
  <% list_artist_tracks artist_item.artist_tracks %>
  </section>
  <nav>
    <ul>
      <li><%= link_to_users_artist_items_create_or_destroy artist_item.artist_id, artist_item.asin %></li>
      <li class="amazon"><%= link_to image_tag('http://rcm-images.amazon.com/images/G/09/extranet/associates/buttons/remote-buy-jp3.gif'), artist_item.detail_page_url, :class => [:external]%></li>
      <li class="amazon"><%= render('share/amazon_cart', :asin => artist_item.asin)%></li>
    </ul>
  </nav>
</aside>
</section>
