<% content_for :title, "Musick.info - #{@artist.name}" %>
<% content_for :body_class, 'show'%>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta do%>
  <%=render('share/og_common', 
    :image => @artist.artist_lastfm.main_image
  ) %>
<% end %>
<section class="artist">
  <header>
    <hgroup>
      <h1 class="name"><%= @artist.name %></h1>
      <h2 class="aliases"><%= @artist.artist_aliases.map{|a| a.name}.join(', ') %></h2>
    </hgroup>
  <%= image_tag @artist.artist_lastfm.main_image %>
  </header>
  <nav>
    <ul>
      <li><%=link_to t('musick.artist.items.search'), artist_items_path(@artist.id), :class => 'button' %></li>
      <li><%=link_to_users_artists_create_or_destroy @artist.id %></li>
      <li><%=link_to t('musick.artist.share'), '#', :class => 'button' %></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><%=link_to t('musick.artist.update'), '#', :class => 'button' %></li>
      <li><%=link_to t('musick.artist.update_images'), artist_images_path(@artist.id), :remote => true, :class => 'button' %></li>
    </ul>
  </nav>
  <div class="description">
    <%=simple_format(@artist.artist_lastfm.summary, :class => 'summary') %>
    <%=link_to t('musick.more'), '#more', :class => :read_more if @artist.artist_lastfm.content.present? %>
    <%=simple_format(@artist.artist_lastfm.content, :class => 'content') %>
    <%=link_to t('musick.less'), '#less', :class => [:read_less, :hidden] if @artist.artist_lastfm.content.present? %>
  </div>
  <ul class="images">
    <%= render 'artist/images/list', :images => @artist.artist_images %>
  </ul>
  <%= render 'share/fb_comment_page', :url => current_url %>
  <time><%= time_ago_in_words @artist.created_at, true %></time>
</section>
