<% content_for :title, "#{@artist.name} on Musick" %>
<% content_for :body_class, 'show'%>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta do%>
  <%=render('share/og_common', 
    :image => @artist.artist_lastfm.main_image
  ) %>
<% end %>
<% content_for :fb_activity, render('share/fb_activity_feed', :filter_url => artist_path(@artist_id))%>
<% content_for :javascript, javascript_include_tag('youtube') %>
<section class="artist">
  <header>
    <hgroup>
      <h1 class="name youtube" data-search-keyword="<%= @artist.name %>"><%= @artist.name %></h1>
    </hgroup>
    <%= link_to_artist image_tag(@artist.artist_lastfm.main_image), @artist %>
    <nav>
      <ul>
        <li><%=link_to_users_artists_create_or_destroy @artist.id %></li>
        <li><%=link_to_artist t('musick.social.posts.create'), @artist, 'button' %></li>
        <li><%=link_to_artist t('musick.tag'), @artist, 'button' %></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><%=link_to t('musick.artist.items.search', :artist => @artist.name), artist_items_path(@artist.id), :class => 'button popup' %></li>
        <li><%=link_to t('musick.artist.youtube', :artist => @artist.name), '', :class => 'button youtube' %>
      </ul>
    </nav>
  </header>
  <%= render 'share/artist_stream', :filters => "all,artist#{@artist.id}"%>
  <div class="description">
    <%=simple_format(@artist.artist_lastfm.summary, :class => 'summary') %>
    <%=link_to t('musick.more'), '#more', :class => :read_more if @artist.artist_lastfm.content.present? %>
    <%=simple_format(@artist.artist_lastfm.content, :class => 'content') %>
    <%=link_to t('musick.less'), '#less', :class => [:read_less, :hidden] if @artist.artist_lastfm.content.present? %>
  </div>
  <ul class="images">
    <%= render 'artist/images/list', :images => @artist.artist_images %>
  </ul>
</section>

<aside class="faces">
  <% if @users_artists.present? %>
  <section>
    <h1><%=t 'musick.faces.recently_clip'%></h1>
    <ul>
      <% @users_artists.each do |users_artist| %>
      <% user = users_artist.user %>
      <li><%=link_to image_tag(user.image), users_home_path(user.id), 
        'data-tooltip' => (time_ago_in_words users_artist.updated_at, true) + t('musick.users_artist.created_at_before'),
        :class => :with_tooltip %></li>
      <% end %>
    </ul>
  </section>
  <% end %>
  <% if @users_artists_tags.present? %>
  <section>
    <h1><%=t 'musick.faces.recently_tag'%></h1>
    <ul>
      <% @users_artists_tags.each do |users_artists_tag| %>
      <% user = users_artists_tag.user %>
      <li><%=link_to image_tag(user.image), users_home_path(user.id), 
        'data-tooltip' => (time_ago_in_words users_artists_tag.updated_at, true) + t('musick.users_artists_tag.created_at_before', :tag => users_artists_tag.tag.send("name_#{css_locale}")), :class => :with_tooltip %></li>
      <% end %>
    </ul>
  </section>
  <% end %>
</aside>