<% content_for :title, "Musick.info - #{@artist.name}" %>
<% content_for :body_class, 'show'%>
<% content_for :og_meta do%>
  <%=render('share/og_common', 
    :image => @artist.artist_lastfm.main_image
  ) %>
<% end %>
<section class="artist">
  <header>
  <h1 class="name"><%= @artist.name %></h1>
  <h2 class="aliases"><%= @artist.artist_aliases.map{|a| a.name}.join(', ') %></h2>
  <%= image_tag @artist.artist_lastfm.main_image %>
  </header>
  <nav>
    <ul>
      <li><%=link_to t('musick.nav.artist.add'), '#', :class => 'button' %></li>
      <li><%=link_to t('musick.nav.album.search'), '#', :class => 'button' %></li>
    </ul>
  </nav>
  <div class="description">
    <%=simple_format(@artist.artist_lastfm.summary, :class => 'summary') %>
    <%=link_to t('musick.more'), '#more', :class => :read_more if @artist.artist_lastfm.content.present? %>
    <%=simple_format(@artist.artist_lastfm.content, :class => 'content') %>
    <%=link_to t('musick.less'), '#less', :class => [:read_less, :hidden] if @artist.artist_lastfm.content.present? %>
  </div>
  <% if @artist.artist_images.length > 0 %>
  <ul class="images">
    <% @artist.artist_images.sort_by{rand}[0...24].each do |artist_image| %>
    <li><%= link_to image_tag(artist_image.largesquare, :class => 'rounded-img2'), artist_image.extralarge, :class => 'popup', :rel => "group#{@artist.id}" %></li>
    <% end %>
  </ul>
  <% end %>
  <%= render 'share/fb_comment_page', :url => current_url %>
  <time><%= time_ago_in_words @artist.created_at, true %></time>
</section>
