<% content_for :body_id, 'social_friends' %>
<% content_for :javascript, javascript_include_tag('social') %>
<section class="invite">
  <%=providers_tab%>
  <%=t('musick.social.friends.invite_description', :count => Invite::INVITE_USER_MAX)%>
  <%=render 'invite_form'%>
  <%=render 'share/search_element_form', :placeholder => t('musick.social.friends.search_placeholder') %>
  <ul class="friends clearfix">
    <% @profiles.each do |profile| %>
      <li><%= render 'profile', :profile => profile %></li>
    <% end %>
  </ul>
</section>
