<% content_for :body_id, 'home'%>

<div class="main">
<section class="welcome">
  <h1><%=t('musick.home.welcome.h1')%></h1>
  <%=simple_format t('musick.home.welcome.content')%>
</section>
<section class="login">
  <h1><%=t('musick.home.login.h1')%></h1>
  <ul>
    <li>
      <%=t('musick.home.login.facebook')%>
      <%=image_tag '/images/facebook_login_btn.png' %>
    </li>
    <li>
      <%=t('musick.home.login.twitter')%>
      <%=image_tag '/images/twitter_login_btn.png' %>
    </li>
    <li>
      <%=t('musick.home.login.mixi')%>
      <%=image_tag '/images/mixi_login_btn.png', :class => :mixi %>
    </li>
  </ul>
</section>
</div>
<aside class="activity">
  <%= render 'share/fb_activity_feed' %>
</aside>
