<% content_for :title, 'Musick'%>
<% content_for :body_id, :home %>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta, render('share/og_common', :image => nil, :og_type => "website") %>
<% content_for :user_voice, render('share/user_voice') %>
<% content_for :fb_activity, render('share/fb_activity_feed', :filter_url => nil) %>
<div class="main">
  <%= render 'share/login_button'%>
  <%= render 'share/top_stream', :filters => 'all' %>
  <%= render 'share/add_to_timeline' %>
  <%= render 'share/facebook_page'%>
</div>
<%= render 'share/login_faces' %>