<% content_for :body_id, :home %>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta, render('share/og_common', :image => nil) %>
<div class="main">
  <%= render 'share/login_button'%>
<nav>
  <ul>
    <li><%= link_to t('musick.users_artist.index'), users_artists_path(current_user.id), :class => :button %></li>
  </ul>
  <ul>
    <li><%= link_to t('musick.social.posts.web.label'), new_social_posts_path, :class => [:button, :popup] %></li>
    <li><%= link_to t('musick.social.friends.label'), social_friends_path, :class => [:button] %></li>
    <li><%= link_to t('musick.logout.label'), destroy_user_session_path, :method => :delete, :class => :button %></li>
  </ul>
</nav>
</div>