<div class="post" data-id="<%=post.id%>">
  <div class="image user" data-id="<%=post.user.id%>"><%=image_tag post.user.image %></div>
  <div class="name"><%=link_to post.user.name, users_posts_path(post.user.id) %></div>
  <time><%= link_to (time_ago_in_words post.created_at, true) + t('before'), post_path(post.id) %></time>
  <div class="content_container clearfix">
    <div class="content"><%=post.content%><span class="suffix"></span></div>
  </div>
  <div class="actions">
    <%=like_link post %>
    <span class="comment_action"><%= link_to t('musick.post.comment'), '#'%></span>
    <% if post.user_id == current_user.id %>
    <%=link_to t('musick.post.delete'), post_path(post.id), :method => :delete, :remote => true, :confirm => t('musick.post.delete_confirm') %>
    <% end %>
  </div>
  <nav class="providers ">
    <h1><%= t('musick.post.comment_list')%></h1>
    <ul class="tab">
      <% post.posts_providers.each do |posts_provider|%>
        <li><%= posts_provider.provider.name %></li>
      <% end %>
    </ul>
  </nav>
  <ul class="comment">
    <%= like_people post %>
    <% if post.posts_comments.length > 0 %>
      <% if post.posts_comments.length > APP_CONFIG[:comment_count] %>
        <li><div class="show_all_comment"><%= link_to t('musick.post.show_all_comment', :count => post.posts_comments.length), '#'%></div></li>
      <% end %>
      <% post.posts_comments.each_with_index do |posts_comment, i| %>
        <li style="<%= ((post.posts_comments.length - APP_CONFIG[:comment_count] - i - 1) < 0) ? 'display:list-item':'display:none;'%>">
          <%= render :partial => 'posts/comments/comment', :locals => {:comment => posts_comment} %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="new_comment clearfix">
    <%= render :partial => 'posts/comments/form', :locals => {:post => post} %>
  </div>
</div>