<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="<%=I18n.locale%>"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head>
<meta charset="utf-8">
<title><%= yield :title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="content-language" content="<%=I18n.locale%>">
<%= yield :og_meta %>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
<link rel="stylesheet" type="text/css" href="/_/css/style.css">
<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<%= stylesheet_link_tag :all %>
<script src="/_/js/modernizr-1.7.min.js"></script>
<%= javascript_include_tag :defaults %>
<%= yield :javascript %>
<%= csrf_meta_tag %>
</head>
<body id="<%= yield :body_id %>" class="<%= yield :body_class %>">
<header>
<h1><%= link_to root_path do %><%=image_tag '/images/musick_logo.png'%><% end %></h1>
<nav id="user">
<% if user_signed_in?%>
  <h1><%=image_tag current_user.image, :size => '30x30' %><%= link_to current_user.name, '#', :class => :name %></h1>
  <ul>
    <li><%= link_to t('musick.logout.label'), destroy_user_session_path, :method => :delete %></li>
    <li></li>
  </ul>
<% end %>
</nav>
<%= yield :search_form %>
</header>
<div id="container">
<%= yield :like_page%>
<%= yield %>
<%= yield :fb_activity %>
</div>
<section id="fancybox_inline">
  <h1></h1>
  <article></article>
</section>
<div id="actions">
</div>
<% if Rails.env.production? %>
<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%=APP_CONFIG[:ga_id]%>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
<script type="text/javascript">
$(function(){
    var facebookJs = document.location.protocol + '<%=fb_connect_js %>';
    $.getScript(facebookJs);
    $.fb_app_id = '<%=FacebookConfig.app_id%>';
})
</script>
<div id="fb-root"></div>
<footer>
  <small>&copy; Copyright 2011 <a href="http://twitter.com/ppworks">PPworks</a> All rights reserved.</small>
</footer>
</body>
</html>
