<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="<%=I18n.locale%>"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head>
<meta charset="utf-8">
<title><%= yield :title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="content-language" content="<%=I18n.locale%>">
<%= yield :og_meta %>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="stylesheet" type="text/css" href="/_/css/style.css">
<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<%= stylesheet_link_tag :all %>
<script src="/_/js/modernizr-1.7.min.js"></script>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body id="<%= yield :body_id %>" class="<%= yield :body_class %>">
<header>
<h1><%= link_to root_path do %>Music<small>k</small>.info<% end %></h1>
<%= yield :search_form %>
</header>
<div id="container">
<%= render 'share/like_page' %>
<%= yield %>
</div>
<section id="fancybox_inline">
  <h1></h1>
  <article></article>
</section>
<% if Rails.env.production? %>
<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%=APP_CONFIG[:ga_id]%>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
<script type="text/javascript">
$(function(){
    var facebookJs = document.location.protocol + '<%=fb_connect_js %>';
    $.getScript(facebookJs);
    $.fb_app_id = '<%=FacebookConfig.app_id%>';
})
</script>
<div id="fb-root"></div>
</body>
</html>
